.matcha-heading {color: darkgreen;
                background-color: lightgreen;}

.tiramisu-heading {color: brown;
                    background-color: beige;}

.tart-heading {color: darkgoldenrod;
                background: lightyellow;}

#quote {font-weight: bold;}

* {color:darkblue;
    font-family: Optima, sans-serif}
img {height: auto;
    width: 400px}

