#main-title {color:darkblue;
    background-color: lightcyan;
     font-family: Optima, sans-serif;}

h1, h2, h3 {font-family: Optima, sans-serif;}

.list {font-size: 18px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}

div {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}

.matcha-heading {color: darkgreen;
                background-color: lightgreen;}

.tiramisu-heading {color: brown;
                    background-color: beige;}

.tart-heading {color: darkgoldenrod;
                background: lightyellow;}

#quote {font-weight: bold;}

img {height: auto;
    width: 400px}

